%section.lightimage
  .container
    .row
      .inner-column
        %h1 Big Fat Title

        %p.info Great descriptive content

        = link_to "Call to Action", root_url, class: "btn btn-primary btn-lg"