%tr
  %td.name
    %button.hui-button.button-new.button-new-row.test-button-new-row.js-new-week-row{:tabindex => "2", :type => "button"} New Row
    %button.hui-button.hui-button-primary.test-week-view-save.hui-button-disabled{:tabindex => "1", :type => "button"} Save
    %span.last-saved.do-not-print Last saved at 12:43pm
  %td.day.test-not-today.test-day-total-1 7:00
  %td.day.test-not-today.test-day-total-2 6:30
  %td.day.today.test-day-total-3 0
  %td.day.test-not-today.test-day-total-4 8:00
  %td.day.test-not-today.test-day-total-5 0
  %td.day.test-not-today.test-day-total-6 0
  %td.day.test-not-today.test-day-total-0 0
  %td.total 21:30
  %td.delete  