.container
  %section.primary#about
    %table.table-striped.week-view-table
      %thead
        = render partial: 'splash/plot_header'
      %tbody
        = render partial: 'splash/timesheet_atom'
      %tfoot
        = render partial:  'plot_footer'
