= render partial: 'splash/time_tacker'


%section.contact#contact
  .container
    .row
      .inner-column
        %h1 Please raise complaint, if you are not able to fill the timesheet.
        = form_tag splash_signup_path, role: :form, remote: true do
          .form-group
            .input-group
              = text_field_tag :signup_email, "", class: "form-control", placeholder: 'E-Mail', type: "email"
              %span.input-group-btn
                = submit_tag 'Sign up', class: 'btn btn-primary'
          %small#signup-message
