<% content_for :stylesheets do %>
    <%= stylesheet_link_tag 'dynamic_forms', :media => nil %>
<% end %>
<%= link_to 'Show Preview', dynamic_forms_path, class: 'btn btn-success'%>
<div class="build-wrap"></div>
<button id="edit-form">Edit Form</button>