%footer#footer
  .container
    .row
      .col-xs-6
        %h3 Clock Docker
      .col-xs-6.text-right
        %small.copyright
          Pyramid IT Consulting, Copyright &copy; #{ Date.today.year }
